div.container {
  border: grey 5px solid;
  height: 98vh;
}
div.UI {
  border: 1px solid grey;
  border-radius: 14px;
  height: 700px;
  width: 350px;
  margin: 10px 0px 10px 38%;
  position: relative;
  background-color: #075e54;
}
